.right{

    text-align: right;
    padding-left: 20px;
}
.body{
    position: relative;
}
.other{
    position:relative;
    width:100%;
    margin: 20px auto 0;;
}
.menu{
    padding-left: 10px;
    float: left;
}
.logout{
    padding-right: 10px;
    float: right;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: lightgray;
}
td{
    text-align: center;
}
.error{
    color: red;
}
.success{
    color:green;
}